<div class="col-md-6" style="align-items: center; text-align: center">
  <div>
    <h2 style="color: rgb(220, 155, 71); align-items: center">
      Mzansi Oil & Gas
    </h2>
    <p style="width: 60vh; color: darkgray">
      Mzansi Oil & Gas is an independent reseller of bulk petroleum and
      lubricant products, specializing in quality onsite fuel storage
      facilities, forecourt equipment and fuel management solutions. As a
      company, we are passionate about innovative services, processes and
      technologies that enable our clients to achieve optimal fuel efficiency.
    </p>
  </div>
<!--   <img
    style="width: 60vh; height: 140vh"
    src="assets\siteVisit.jpg"
    alt="Mzansi Oil & Gas"
    class="oli"
  /> -->
</div>
