<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  rel="stylesheet"
/>

<div class="container">
  <div class="content">
    <h2 style="color: rgb(220, 155, 71)">Asipokuhle Energies</h2>
    <p style="color: darkgray">
      Asipokuhle Energies is an independent reseller of bulk petroleum and
      lubricant products, specializing in quality onsite fuel storage
      facilities, forecourt equipment and fuel management solutions. As a
      company, we are passionate about innovative services, processes and
      technologies that enable our clients to achieve optimal fuel efficiency.
    </p>
  </div>
  <img
    src="assets\energies.jpg"
    alt="Asipokuhle Energy"
    class="oil"
  />
</div>
