<div class="ventures">
  <div class="infrastructure">
    <div class="image">
      <img src="../assets/infrastructure.jpg" alt="Image" />
    </div>
    <div class="text">
      <h4>Infrastructure Development</h4>
      <p>
        Asipokuhle Holdings engages in large-scale infrastructure projects that
        include the construction of roads, bridges, and buildings. Their
        projects aim to enhance urban development and connectivity, contributing
        to economic growth and improved living standards in various regions.
        They focus on sustainable practices to ensure long-term viability and
        minimal environmental impact.
      </p>
    </div>
  </div>
  <div class="investment">
    <div class="image">
      <img src="../assets/investmentManagement.jpg" alt="Image" />
    </div>
    <div class="text">
      <h4>Investment Management</h4>
      <p>
        In investment management, Asipokuhle Holdings offers services that
        include equity, debt, and buyout transaction advisory. They help clients
        navigate complex financial landscapes, providing strategies to optimize
        investment returns. Their expertise spans across various sectors,
        ensuring a diversified portfolio for their clients.
      </p>
    </div>
  </div>
  <div class="mining">
    <div class="image">
      <img src="../assets/mining.jpg" alt="Image" />
    </div>
    <div class="text">
      <h4>Mining</h4>
      <p>
        In the mining sector, Asipokuhle Holdings is involved in the supply
        chain management and operational aspects of mining projects. They handle
        the logistics of transporting raw materials and ensure efficient
        operations to maximize productivity. Their involvement includes both
        precious metals and mineral extraction, where they emphasize sustainable
        mining practices to minimize environmental damage.
      </p>
    </div>
  </div>
  <div class="energy">
    <div class="image">
      <img src="../assets/energy.jpg" alt="Image" />
    </div>
    <div class="text">
      <h4>Energy (Including Fossil Fuels)</h4>
      <p>
        Asipokuhle Holdings participates in the energy sector, with significant
        involvement in fossil fuel projects. They engage in the development of
        oil and gas fields, focusing on both upstream and downstream activities.
        This includes exploration, extraction, and refining processes. Despite
        the global shift towards renewable energy, Asipokuhle Holdings continues
        to invest in fossil fuel projects, contributing to the energy supply.
      </p>
    </div>
  </div>
  <div class="project">
    <div class="image">
      <img src="../assets/project.jpg" alt="Image" />
    </div>
    <div class="text">
      <h4>Project Finance and Development Management</h4>
      <p>
        The company offers comprehensive project finance and development
        management services. This includes structuring financial deals to fund
        large infrastructure and energy projects, ensuring that they are
        economically viable and attract sufficient investment. They also oversee
        the implementation of these projects from conception through completion,
        managing budgets, timelines, and stakeholder engagement.
      </p>
    </div>
  </div>
  <div class="supply">
    <div class="image">
      <img src="../assets/supplyChain.jpg" alt="Image" />
    </div>
    <div class="text">
      <h4>Supply Chain Management</h4>
      <p>
        Asipokuhle Holdings provides end-to-end supply chain management services
        in the mining sector. This involves coordinating the transportation of
        raw materials, managing inventory, and optimizing the logistics
        processes to reduce costs and improve efficiency. Their goal is to
        streamline operations, ensuring that mining outputs are delivered timely
        and cost-effectively to the market.
      </p>
    </div>
  </div>
  <div class="partners">
    <div class="image">
      <img src="../assets/Sasol.jpg" alt="Image 1" />
    </div>
    <div class="image">
      <img src="../assets/engen.jpg" alt="Image 2" />
    </div>
    <div class="image">
      <img src="../assets/VOPAK.png" alt="Image 3" />
    </div>
    <div class="image">
      <img src="../assets/deptEnergy.jpg" alt="Image 4" />
    </div>
  </div>
</div>
