/* Base styles for images and text containers */
.image-item img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image-item:hover img {
  transform: scale(1.1); /* Scale up image on hover */
}

/* Image Collages */
.image-collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for larger screens */
  grid-gap: 10px; /* Gap between images */
}

.image-collage2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for larger screens */
  grid-gap: 10px; /* Gap between images */
  padding-bottom: 3%;
}

/* Styling for individual image items */
.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  max-width: 400px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .image-collage {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }

  .image-collage2 {
    grid-template-columns: 1fr; /* 1 column for medium screens */
  }

  .text-container {
    padding-left: 15px; /* Adjust padding for smaller screens */
  }
}

/* Additional adjustments for very small screens */
@media (max-width: 576px) {
  .image-collage {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }

  .image-collage2 {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }

  .section p {
    font-size: 0.9rem; /* Adjust font size for better readability on small screens */
  }

  .container {
    margin-top: 15px; /* Reduce margin on smaller screens */
  }

  .row {
    margin-bottom: 20px; /* Add space between rows on small screens */
  }
}
