.container {
  padding: 0 15px; /* Container padding */
  margin: 0 auto;
  width: 100%;
  height: 30vh;
  height: auto;
}

.wrapper {
  max-width: 1200px; /* Max width for large screens */
  margin: 0 auto;
}

.section {
  display: flex; /* Use Flexbox for horizontal alignment */
  align-items: center; /* Vertically center content */
  gap: 20px; /* Space between image and text */
  margin-bottom: 20px; /* Space below each section */
}

.content-image,
.main-image {
  object-fit: cover; /* Ensure the image covers the space properly */
}

.content-image {
  width: 300px; /* Fixed width for images */
  height: 200px; /* Fixed height for images */
}

.main-image {
  height: 60vh; /* Main image height */
  max-width: 100%;
}

.text-content {
  flex: 1; /* Allow text content to take the remaining space */
  max-width: 50%; /* Limit width to half of the container */
}

.bg-gray {
  background-color: rgb(245, 244, 244);
}

.values-container {
  text-align: center;
  padding: 20px;
  height: 20vh;
}

.values-title {
  color: rgb(220, 155, 71);
  margin-bottom: 10px;
}

.values-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.word {
  background-color: darkgray;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.word.lightgray {
  background-color: lightgray;
}

.word.selected {
  background-color: rgb(220, 155, 71); /* Highlight selected block */
}

.word:hover {
  background-color: gray; /* Change background on hover */
}

.about {
  padding: 20px;
  height: 20vh;
}

.about-content {
  text-align: center;
}

.about-title {
  color: rgb(220, 155, 71); /* Title color */
  margin-bottom: 10px; /* Space below the title */
  text-align: center;
}

.about-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

p {
  color: darkgray;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
    height: auto;
  }

  .section,
  .content-section {
    flex-direction: column; /* Stack image and text vertically on smaller screens */
    text-align: center; /* Center align text on small screens */
  }

  .content-image {
    width: 100%; /* Full width on small screens */
    margin-bottom: 15px; /* Space below the image */
    height: auto;
  }

  .text-content {
    width: 100%;
  }

  .main-image {
    height: 40vh;
  }

  .values-title {
    font-size: 1.5rem;
  }

  .word {
    padding: 8px 16px;
  }
}
