.home {
  margin: 0;
  align-items: center;
  height: 100%;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.about {
  align-items: center;
  background-color: #ffffff; /* White background for the container */
  border: 1px solid #ddd;
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  font-family:cursive;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.heading:hover {
  font-size: 24px;
}

.headline {
  margin-left: -100px;
  margin-top: 50px;
  position: absolute;
  font-family:cursive;
  font-weight: 600;
  font-size: 30px;
  transition: font-size 0.3s ease;
  color: rgb(19, 18, 18);
}

.africa {
  position: relative;
  width: 100vw;
  height: 25vh;
  object-fit: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .word {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    color: white;
    font-weight: bold;
  }

