<div class="home">
  <div class="wrapper">
    <div class="col-md-6" style="display: flex;">
      <img
        style="width: 60vh; height: 40vh"
        src="assets\GoldWorldMap.jpg"
        alt="World Map"
        class="goldWorldMap"
      />
      <div>
        <h2 style="color: rgb(220, 155, 71)">Who we are</h2>
        <p style="width: 60vh; color: darkgray;">
          Asipokuhle Holdings is an investment holding company with a focus on
          long-term investment opportunities. We specialize in forging
          partnerships with financial entities renowned for successful
          investments across various industries.
        </p>
      </div>
    </div>
    <div style="background-color: rgb(245, 244, 244);display: flex;" class="col-md-6">
      <img
        style="width: 60vh; height: 40vh"
        src="assets\vision.jpg"
        alt="World Map"
        class="goldWorldMap"
      />
      <div>
        <h2 style="color: rgb(220, 155, 71)">Mission</h2>
        <p style="width: 60vh; color: darkgray;">
          Our mission is to build long-term relationships and be the preferred
          trading partner of choice to our clients.
        </p>
      </div>
    </div>
    <div class="col-md-6" style="display: flex;">
      <img
        style="width: 60vh; height: 40vh"
        src="assets\mission.jpg"
        alt="World Map"
        class="goldWorldMap"
      />
      <div>
        <h2 style="color: rgb(220, 155, 71)">Vision</h2>
        <p style="width: 60vh; color: darkgray;">
          We’re always on the look-out for world classproducts and suppliers to
          complement our range, which in turn, gives our customers access to
          these products.
        </p>
      </div>
    </div>
    <div style="background-color: rgb(245, 244, 244);height: 40vh;width: 120vh;" class="col-md-6">
      <div>
        <h2 style="color: rgb(220, 155, 71); padding-left: 12vh">Values</h2>
        <div style="align-items: center;justify-content: center;padding-left: 30vh;object-fit: cover;box-sizing: border-box;">
          <span class="word" style="background-color: darkgray"
            >Innovation</span
          >
          <span class="word" style="background-color: lightgray"
            >Integrity</span
          >
          <span class="word" style="background-color: darkgray"
            >Sustainability</span
          >
          <span class="word" style="background-color: lightgray"
            >Flexibility</span
          >
          <span class="word" style="background-color: darkgray"
            >Collaboration</span
          >
        </div>
      </div>
    </div>
    <div class="about">
      <div style="align-items: center">
        <h2 style="color: rgb(220, 155, 71); padding-left: 12vh">What we do</h2>
        <div style="padding-left: 15vh">
          <div>
            <span
              id="aboutus"
              class="word"
              style="background-color: darkgray"
              *ngFor="let block of blocks"
              [class.selected]="selectedBlock === block.id"
              (click)="onSelectBlock(block.id)"
            >
              {{ block.heading }}
            </span>
          </div>
          <p
            *ngIf="selectedBlock !== null"
            style="max-width: 700px; align-items: center"
          >
            {{ blocks[selectedBlock - 1].text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
