<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  rel="stylesheet"
/>

<div class="container">
  <div class="row">
    <div>
      <h2 style="color: rgb(220, 155, 71)">Asipokuhle Safety Gear</h2>
      <p style="width: 60vh; color: darkgray">
        Asipokuhle Safety Gear (Pty) Ltd was established in 2019 to provide a
        range of services from apparel, design and a combination of safety
        equipment for all scenarios. Coupled with in-house branding solutions,
        their extensive gifting, clothing and headwear ranges, backed up by deep
        inventory levels, provide clients with the comfort of knowing that they
        are able to focus on what they do best.
      </p>
    </div>
    <img
      style="
        width: 60vh;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        object-fit: inherit;
      "
      src="assets\safetyGearLogo.jpg"
      alt="Asipokuhle Safety Gear"
      class="safetygear"
    />
  </div>
</div>
