.spacer {
  flex-basis: 40%;
}

.custom-button {
  background-color: #ff4081; 
  color: white;
}

button:hover {
        
        transition: 0.3s;
        color: gold
      }

button {border-style: none;}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}