.spacer {
  flex-basis: 40%;
}

.custom-button {
  background-color: #ff4081;
  color: white;
}

span {
  font-family: "Times New Roman", Times, serif;
}

button:hover {
  transition: 0.3s;
  color: white;
  background-color: black;
}

button {
  border-style: none;
  font-family: "Times New Roman", Times, serif;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}