<!-- <h3>Leadership</h3>
<div>
    <h4>Founder/CEO</h4>
    <h5>PIKO SIPUNZI</h5>
    <img>
</div>
<div>
    <h4>Chief Operations Officer</h4>
    <h5>KAMOGELO TUGE</h5>
    <img>
</div> -->
<div class="logo">
  <img src="assets\logoLand.png" alt="Description" class="" />
</div>
<div class="logo">
      <img src="assets\groupFunctions.jpg" alt="Description" class="galaxy" />
    </div>
<h3>Group Functions</h3>
<p>
  Our operational and trading capabilities spread across partnering in numerous
  public and private sector initiated bids, and trade transactions. We focus on
  establishing global partnerships with private sector to initiate programmes
  that demonstrate social and economical merit for citizens.
</p>
<div>
  <h4>ASIPOKUHLE COMMODITY</h4>
  <p>
    We sell and transport carbon-based fuels all over the world, as well as
    working on various projects related to the sale of natural gas and biomass.
    Our operations currently concentrate predominantly on the trading of steam
    coal, coking coal and met coke, with major investment made in the latter two
  </p>
</div>
<div>
  <h4>ASIPOKUHLE SAFETY GEAR</h4>
  <p>
    Asiphokuhle Safety Gear (Pty) Ltd was established in 2019 to provide a range
    of services from apparel, design and a combination of safety equipment for
    all scenarios. Coupled with in-house branding solutions, their extensive
    gifting, clothing and headwear ranges, backed up by deep inventory levels,
    provide clients with the comfort of knowing that they are able to focus on
    what they do best
  </p>
</div>
<div>
  <h4>MZANZI OIL AND GAS</h4>
  <p>
    Mzansi Oil & Gas is an independent reseller of bulk petroleum and lubricant
    products, specializing in quality onsite fuel storage facilities, forecourt
    equipment and fuel management solutions. As a company, we are passionate
    about innovative services, processes and technologies that enable our
    clients to achieve optimal fuel efficiency.
  </p>
</div>
