<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  rel="stylesheet"
/>

<div class="container">
  <div class="row">
    <div>
      <h2 style="color: rgb(220, 155, 71)">Asiphokuhle Commodity</h2>
      <p style="width: 60vh; color: darkgray">
        We sell and transport carbon-based fuels all over the world, as well as
        working on various projects related to the sale of natural gas and
        biomass. Our operations currently concentrate predominantly on the
        trading of steam coal, coking coal and met coke, with major investment
        made in the latter two.
      </p>
    </div>
    <img
      style="
        height: 110vh;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: inherit;
        max-width: 100%;
      "
      src="assets\siteVisit.jpg"
      alt=" Asiphokuhle Commodity"
      class="commodity"
    />
  </div>
</div>
