<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  rel="stylesheet"
/>

<div class="container">
  <div class="content">
    <h2 style="color: rgb(220, 155, 71)">Group Functions</h2>
    <p style="color: darkgray">
      Our operational and trading capabilities spread across partnering in
      numerous public and private sector initiated bids, and trade transactions.
      We focus on establishing global partnerships with private sector to
      initiate programmes that demonstrate social and economical merit for
      citizens.
    </p>
  </div>
  <img
    src="assets/yellowVest.jpg"
    alt="Group Functions"
    class="groupfunctions"
  />
</div>
